<!DOCTYPE html>
<html class="{{ htmlClass }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}"/>
    <meta name="keywords" content="{{ meta.keywords }}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Roboto" rel="stylesheet">

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body class="{{ bodyClass }}">